{% extends 'base.html' %}

{% block content %}
<h3 class="mb-5 mt-5 text-center">Your cart {% if not cart.products.count %} is empty {% endif %}</h3>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Full price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.products.all %}
        <tr>
          <th scope="row">{{ item.content_object.title }}</th>
          <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
          <td>{{ item.content_object.price }}</td>
          <td>
            <form action="{% url 'change_qty' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="POST">
              {% csrf_token %}
              <input type="number" class="from-control" name="qty" style="width: 70px" min="1" value="{{ item.qty }}">
              <br>
              <br>
              <input type="submit" class="btn btn-secondary" value="Change the amount">
            </form>
          </td>
          <td>{{ item.final_price }}</td>
          <td><a href="{% url 'remove_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-danger">Remove from cart</button></a></td>
        </tr>
  {% endfor %}

        <tr>
          <td colspan="2"></td>
          <td>Finally:</td>
          <td>{{ cart.total_products }}</td>
          <td><strong>{{ cart.final_price }} грн.</strong></td>
          <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">ORDER</button></a></td>
        </tr>

  </tbody>
</table>
{% endblock content %}
