<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Display type</td>
      <td>{{ product.display_type }}</td>
    </tr>
      <tr>
      <td>CPU frequency</td>
      <td>{{ product.processor_frq }}</td>
    </tr>
      <tr>
      <td>RAM</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>Video cart</td>
      <td>{{ product.video }}</td>
    </tr>
      <tr>
      <td>Time without charge</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>